.About {
  .map {
    img {
      width: 100%;
    }
  }
  .mapBuilding {
    padding: 30px;
    img {
      width: 100%;
    }
  }
  .title-text {
    font-size: 14px;
  }
  .page-block {
    background-image: url('../../assets/img/bg-about.png');
  }
}
.fullscreen-bg {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: -1;
}
