@import '../utils/common.less';

.djs-page {
  min-height: 100px;
  .djs-block {
    padding-top: 70px;
    height: 700px;
    .navigator {
      top: 70px;
      z-index: 3;
    }
  }
  .djs-list {
    padding-top: 120px;
    .scene-wrapper {
      padding-bottom: 150px;
      h3 {
        padding-left: 10%;
        padding: 20px 10%;
      }
      .dj-wrapper {
        display: inline-block;
        box-sizing: border-box;
        position: relative;
        overflow: hidden;
        a {
          color: #FFF;
        }
        .dj-item {
          .dj-image {
            content: '';
            background-size: cover;
            background-position: center;
            height: 100%;
          }
          .dj-title {
            opacity: 1;
            display: block;
            position: absolute;
            bottom: 10px;
            left: 10px;
            right: 10px;
            transition: 0.2s opacity;
          }
          .dj-preview {
            opacity: 0;
            display: block;
            position: absolute;
            bottom: 10px;
            left: 10px;
            right: 10px;
            font-size: 13px;
            transition: 0.5s opacity;
          }
          .dj-top {
            opacity: 1;
            display: block;
            position: absolute;
            top: 10px;
            right: 10px;
            font-size: 12px;
            transition: 0.2s opacity;
            background-color: #0C5AF2;
            padding: 4px 10px;
            border-radius: 10px;
          }
          .dj-overlay {
            .gradient-overlay();
            opacity: 0.5;
            transition: 0.5s opacity;
          }
        }
        &:hover {
          .dj-title {
            opacity: 0;
          }
          .dj-preview {
            opacity: 1;
          }
          .dj-overlay {
            top: 0;
            background: rgba(0,0,0,0.8);
          }
        }
      }
    }
  }
}
