@import '../utils/common.less';

.Media {
  color: #FFF;
  .Galleries {
    .partHeaderWrapper {
      display: block;
      background: #BFBFFF;
      height: 45vh;
      min-height: 200px;
      max-height: 800px;
      position: relative;
      background-size: cover;
      background-position: top;
      .bg-gradient();
      h3 {
        margin: 0;
        padding: 0;
        position: absolute;
        bottom: 50px;
        left: 10%;
      }
      .bg-image {
      }
    }
    .covers-wrapper {
      a {
        color: #FFF;
      }
      .cover {
        display: inline-block;
        background-size: cover;
        background-position: center;
        overflow: hidden;
        position: relative;
        cursor: pointer;
        .bg-gradient();
        h4 {
          margin: 0;
          padding: 0;
          position: absolute;
          bottom: 20px;
          left: 20px;
          right: 20px;
          font-size: 15px;
          color: #FFFFFF;
          line-height: 18px;
          font-family: 'sf_ui_displaysemibold';
        }
        .videoOverlay {
          position: absolute;
          top: 0;
          bottom: 0;
          left: 0;
          right: 0;
          opacity: 0.7;
          background: #126BEE;
          &:before {
            background: url('/assets/img/play-button.png');
            background-size: cover;
            top: 50%;
            margin-top: -25px;
            left: 50%;
            margin-left: -25px;
            content: '';
            width: 50px;
            height: 50px;
            position: absolute;
          }
        }
      }
    }
  }
}
