.News {
  .newsMainItems {
    padding: 60px 10%;
    padding-right: 5%;
    .newsItem {
      display: block;
      width: 100%;
      position: relative;
      .wrapper {
        padding: 30px;
        padding-left: 35%;
        .image {
          position: absolute;
          left: 0;
          top: 40px;
          width: 30%;
          height: 190px;
          background-size: cover;
          background-position: center;
          background-repeat: no-repeat;
        }
        .group {
          text-transform: uppercase;
          color: #0F58EA;
          font-size: 12px;
          padding: 5px 0;
          font-family: 'sf_ui_displaymedium';
        }
        .preview {
          font-family: 'sf_ui_displaylight';
          font-size: 13px;
          padding: 5px 0;
          color: #AAA;
        }
        .title {
          font-family: 'sf_ui_displaylight';
          font-size: 20px;
          padding: 5px 0;
        }
        .date {
          font-size: 11px;
          padding: 5px 0;
          color: #888;
          font-family: 'sf_ui_displaylight';
        }
      }
    }
  }
  .newsItems {
    padding: 0px 10%;
    padding-right: 5%;
    .newsItem {
      display: inline-block;
      width: 33%;
      .wrapper {
        padding: 30px;
        .image {
          width: 100%;
          height: 190px;
          background-size: cover;
          background-position: center;
          background-repeat: no-repeat;
        }
        .group {
          text-transform: uppercase;
          color: #0F58EA;
          font-size: 12px;
          padding: 5px 0;
          font-family: 'sf_ui_displaymedium';
        }
        .title {
          font-family: 'sf_ui_displaylight';
          font-size: 13px;
          padding: 5px 0;
        }
        .date {
          font-size: 11px;
          padding: 5px 0;
          color: #888;
          font-family: 'sf_ui_displaylight';
        }
      }
    }
  }
}
