@import '../utils/common.less';

.Sport {
  color: #FFF;
  .page-block {
    background-image: url('../../assets/img/bg-sport.png');
  }
  .icons {
    text-align: center;
    padding: 50px 0;
    img {
      margin: 0 auto;
    }
  }
}
