@import '../utils/common.less';

.Technology, .Sport, .Partners, .Contacts {
  color: #FFF;
  .page-block {
    background-image: url('../../assets/img/bg-robot.png');
    background-repeat: no-repeat;
    background-size: cover;
    height: 600px;
    position: relative;
    vertical-align: bottom;
    .bg-gradient();
    .screen {
      position: absolute;
      bottom: 0;
      left: 0;
      right: 0;
      h2 {
        font-family: @semibold;
        font-size: 40px;
        line-height: 120%;
        margin-bottom: 50px;
        @media (max-width: @phone) {
          font-size: 25px;
        }
      }
    }
  }
  .page {
    &-text {
      font-family: @regular;
      font-size: 18px;
      line-height: 155%;
    }
  }
  .items {
    .item {
      max-width: @textWidth;
      margin: 0 auto;
      font-family: @regular;
      font-size: 18px;
      line-height: 155%;
      position: relative;
      h3{
        font-family: @semibold;
        font-size: 30px;
        line-height: 120%;
      }
    }
  }

}
