@import '../utils/common.less';

.Technology {
  color: #FFF;
  .page-block {
    background-image: url('../../assets/img/bg-robot.png');
    background-repeat: no-repeat;
    background-size: cover;
    height: 600px;
    position: relative;
    .bg-gradient();
    h2 {
      font-family: @semibold;
      max-width: 80%;
      font-size: 40px;
      line-height: 120%;
      @media (max-width: @phone) {
        font-size: 25px;
      }
    }
  }
  .page {
    &-text {
      font-family: @regular;
      font-size: 18px;
      line-height: 155%;
    }
  }
  .items {
    h3{
      font-family: @semibold;
      font-size: 30px;
      line-height: 120%;
    }
    .item {
      font-family: @regular;
      font-size: 18px;
      line-height: 155%;
    }
  }

}
