@import '../utils/common.less';

.page {
  color: #FFF;
  .page-block {
    background-image: url('../../assets/img/bg-sport.png');
    background-repeat: no-repeat;
    background-size: cover;
    height: 600px;
    position: relative;
    .bg-gradient();
  }
  .page-text {
    font-family: 'sf_ui_displaylight';
    padding: 30px 10%;
    font-size: 16px;
    max-width: 1024px;
  }
  h2 {
    position: absolute;
    max-width: 40%;
    min-width: 500px;
    left: 10%;
    font-family: 'sf_ui_displaylight';
    font-size: 40px;
    bottom: 30px;
  }
  .items {
    padding: 30px 10%;
    .item {
      font-family: 'sf_ui_displaylight';
      margin-bottom: 50px;
    }
  }
}
