@import '../utils/common.less';

.Gallery {
  font-size: 18px;
  color: #595959;
  margin: 20px auto;
  position: relative;

  .galleryItems {
    width: 100%;
  }

  .galleryItem {
    width: 100%;
  }

  .galleryInfo {
    padding-top: 10px;
    margin-right: 9.38vw;
  }

  .galleryItemPrev,
  .galleryItemNext {
    position: absolute;
    opacity: 0.2;
    top: 0;
    transition: 0.3s opacity;
    &:hover {
      opacity: 0.4;
    }

    .galleryInfo {
      display: none;
    }
  }

  .galleryItemPrev {
    left: -100%;
  }

  .galleryItemNext {
    right: -100%;
  }

  .galleryImage {
    width: 100%;
    height: 500px;
    @media (max-width: @mobile) {
      height: 300px;
    }
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
  }

  .image {
    width: 100%;
  }

  .galleryCounter {
    position: absolute;
    right: 0;
    bottom: 0px;
  }


  .galleryPrev {
    position: absolute;
    top: 50%;
    left: -4vw;
    color: #fff;
    font-size: 2vw;
    cursor: pointer;
    img {
      width: 60px;
      opacity: 0.5;
      transition: 0.3s opacity;
      margin-top: -30px;
      @media (max-width: @phone) {
        width: 30px;
      }
      &:hover {
        opacity: 1;
      }
    }
  }
  .galleryNext {
    top: 50%;
    right: -4vw;
    position: absolute;
    color: #fff;
    font-size: 2vw;
    cursor: pointer;
    img {
      width: 60px;
      opacity: 0.5;
      transition: 0.3s opacity;
      margin-top: -30px;
      @media (max-width: @phone) {
        width: 30px;
      }
      &:hover {
        opacity: 1;
      }
    }
  }
}
