@import '../utils/common.less';

.bg-video {
  position: fixed;
  left: 50%;
  right: 0;
  top: 50%;
  height: 100%;
  transform: translate(-50%, -50%);
  z-index: -2;
  display: none;
}
.main-page{
  &.hide-bg {
    background-image: none !important;
    .bg-video {
      display: block;
    }
    .fixed-background {
      display: none;
    }
  }
}
.fixed-background {
  position: fixed;
  left: @menuWidth;
  right: 0;
  top: 0;
  height: 100%;
  z-index: -3;
  .fixed-background-img {
    background-image: url('/assets/img/01-back-video.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    height: 100%;
  }
}
.Main {
}
