@import '../utils/common.less';

.fullscreen-bg {
  position: fixed;
  left: @menuWidth;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: -2;
  .bg-video {
    position: absolute;
    left: 50%;
    right: 0;
    top: 50%;
    height: 100%;
    transform: translate(-50%, -50%);
    display: none;
  }
}
.play {
  overflow: hidden;
  .main-page {
    background-image: none !important;
    .bg-video {
      display: block;
    }
    .fixed-background {
      display: none;
    }
  }
}
.hide-bg {
  .main-page {
    background-image: none !important;
    .bg-video {
      display: block;
    }
    .fixed-background {
      display: none;
    }
  }
}
.fixed-background {
  position: fixed;
  left: @menuWidth;
  right: 0;
  top: 0;
  height: 100%;
  z-index: -3;
  .fixed-background-img {
    background-image: url('/assets/img/01-back-video.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    height: 100%;
  }
}
.Main {
}

.buy-ticket-mobile {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
	font-family: 'sf_ui_displaysemibold';
	font-size: 13px;
	color: rgba(255, 255, 255, 0.8);
  box-shadow: inset -3px 0px 3px rgba(0, 0, 0, 0.15);
	width: 100%;
	display: inline-block;
	position: absolute;
	bottom: 0px;
	transition: @time all;
  .ticket {
    display: block;
    color: #FFF;
    padding: 7px;
    padding-left: 100px;
    background-color: @blue;
    &:hover{
      background-color: darken(@blue, 5%);
    }
  }
  .buy-tour {
    display: block;
    color: #FFF;
    padding: 4px;
    padding-left: 100px;
    background-color: @blueDark;
    &:hover{
      background-color: darken(@blueDark, 5%);
    }
  }

  &:before{
    background-image: url('/assets/img/materials.png');
    background-repeat: no-repeat;
    background-size: cover;
    position: absolute;
    left: 15px;
    bottom: 0px;
    width: 59px;
    height: 78px;
    content: '';
  }
	&:hover{
		color: rgba(255, 255, 255, 1);
	}
}
